.button1{
  font-weight: bold;
  border-radius: 12px;
  color: #55b6b7;
  background-color: #ffffff;
  border-color: #55b6b7;
  padding: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button {
  font-weight: bold;
  background-color: #00d1b2;
  border: none;
  color: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button2 {
    border-radius: 50%;
}

#button3{
    width: 200px;
     border: 1px solid;
     padding: 10px;
     background-color: #2b78e4;
     box-shadow: 5px 10px #000000;
     font-family: calibri;
}